**Q1. What are data structures, and why are they important?**

    -> A data structure is a organized and storing data so that it can be manipulated and accessed efficiently.

    Choosing the right data structure significantly impacts the efficiency and performance of your program.
    Well-chosen data structures can:
    Simplify data manipulation (adding, removing, modifying elements)
    Optimize searching and sorting operations
    Conserve memory usage

**Q2. Explain the difference between mutable and immutable data types with examples?**

    -> Mutable Data Types
       Mutable objects can be changed after their creation. This means you can modify their content without creating a new object. Lists (list),
       Dictionaries (dict),Sets (set)
       
    -> Immutable Data Types
      Immutable objects cannot be changed after their creation. Any modification results in the creation of a new object. Strings (str),Tuples (tuple),Frozensets (frozenset)

**Q3. What are the main differences between lists and tuples in Python?**

    -> lists are mutable, meaning their elements can be changed, while tuples are immutable and cannot be modified after creation. Lists use [] and support many methods like append() and remove(), making them suitable for dynamic data. Tuples use () and are faster, more memory-efficient, and can be used as dictionary keys if they contain only immutable elements. Use lists for changeable data and tuples for fixed, constant data.

**Q4 Describe how dictionaries store data?**

    -> dictionaries store data as key-value pairs inside curly braces {}. Each key must be unique and immutable (like a string, number, or tuple), while values can be of any type and can repeat.
    Example:
         student = {"name": "Alice", "age": 20, "grade": "A"}

**Q5. Why might you use a set instead of a list in Python?**

    -> We might use a set instead of a list in Python when:

       We need unique values – Sets automatically remove duplicates.

       Fast membership testing – Checking if an item exists in a set is faster (O(1)) than in a list (O(n)).

      Set operations – Sets support efficient operations like union, intersection, and difference.

**Q6. What is a string in Python, and how is it different from a list?**

    -> A string in Python is an immutable sequence of characters, enclosed in quotes (' ' or " "), used to represent text. A list, by contrast, is a mutable sequence that can store elements of any data type, including strings, numbers, or even other lists.

**Q7. How do tuples ensure data integrity in Python?**

    -> Tuples ensure data integrity in Python by being immutable, meaning their contents cannot be changed after creation. This immutability guarantees that once a tuple is defined, its data stays the same throughout the program, preventing accidental modifications.

**Q8. What is a hash table, and how does it relate to dictionaries in Python?**

    -> A hash table is a data structure that stores data in an array-like format using a hash function to compute an index (called a hash) for each key. This allows for fast data retrieval, typically in constant time (O(1)).

     dictionaries are implemented using hash tables. Each key in a dictionary is passed through a hash function, which determines where the key-value pair is stored in memory. When you look up a key, Python uses the hash to quickly find the associated value.

**Q9. Can lists contain different data types in Python?**

    -> Yes, lists in Python can contain different data types. A single list can hold elements like integers, strings, floats, other lists, or even objects.

**Q10. Explain why strings are immutable in Python?**

    ->Strings are immutable in Python to ensure data integrity, consistent hashing, and memory efficiency. This means once a string is created, it cannot be changed, which makes it safe to use as dictionary keys and allows for optimizations like string interning. Immutability also prevents accidental modifications and ensures thread safety in multi-threaded programs.

**Q11. What advantages do dictionaries offer over lists for certain tasks?**

    ->Dictionaries in Python offer faster lookups and more readable key-based access compared to lists. They are ideal for tasks where data needs to be retrieved using meaningful identifiers rather than numeric indexes. This makes dictionaries better suited for storing and accessing structured data like configurations, records, or mappings.

**Q12.  Describe a scenario where using a tuple would be preferable over a list?**

    ->A tuple is preferable over a list when you need to store a fixed set of values that should not change throughout the program. For example, storing geographic coordinates like (latitude, longitude) or days of the week is ideal with a tuple, as it ensures data integrity and prevents accidental modification. Tuples are also faster and can be used as dictionary keys, unlike lists.

**Q13. How do sets handle duplicate values in Python?**

    ->In Python, sets automatically remove duplicate values. When you create a set, any repeated elements are stored only once, ensuring all items are unique.

     Example:

      s = set([1, 2, 2, 3, 3, 3])
      print(s)  # Output: {1, 2, 3}

    This behavior makes sets ideal for tasks that require distinct elements, like removing duplicates from a list.

**Q14. How does the “in” keyword work differently for lists and dictionaries?**

    -> The in keyword works differently for lists and dictionaries in Python:

        In a list, in checks if a value exists in the list.
         3 in [1, 2, 3]  # True
       In a dictionary, in checks if a key exists, not a value.

        "name" in {"name": "Alice", "age": 25}  # True
        "Alice" in {"name": "Alice", "age": 25}  # False

    in list → checks for value

    in dict → checks for key

**Q15. Can you modify the elements of a tuple? Explain why or why not.**

    -> No, you cannot modify the elements of a tuple because tuples are immutable in Python. Once a tuple is created, its contents cannot be changed—this means you cannot add, remove, or alter any element.

     Why?
    Immutability ensures data integrity, allows tuples to be hashable (usable as dictionary keys), and improves performance and memory efficiency. Attempting to modify a tuple will raise a TypeError.

     Example:

      t = (1, 2, 3)
      t[0] = 10  # TypeError: 'tuple' object does not support item assignment

**Q16. What is a nested dictionary, and give an example of its use case?**

    -> A nested dictionary is a dictionary where values are themselves dictionaries. It allows you to store structured, hierarchical data.
     Example:
     student = {
    "name": "Alice",
    "grades": {
        "math": 90,
        "science": 85
    },
    "age": 16
  }

**Q17. Describe the time complexity of accessing elements in a dictionary?**

    -> Accessing elements in a dictionary in Python has an average time complexity of O(1) (constant time). This is because dictionaries use a hash table internally, allowing fast lookups by key.

     However, in rare worst-case scenarios (like many hash collisions), the time complexity can degrade to O(n), though Python's implementation minimizes this risk.

    In short: Dictionary lookups are generally very fast and efficient due to their hashing mechanism.

**Q18. In what situations are lists preferred over dictionaries?**

    -> Lists are preferred over dictionaries in Python when:

     Order matters – Lists maintain the order of elements by index.

     You only need values – Lists are simpler when you don't need key-value pairs.

     Sequential data – Ideal for storing items like numbers, names, or tasks in a specific order.

     Index-based access – When accessing elements by position, not by name or key.

     Example: Use a list to store a sequence of scores:

**Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

    -> Dictionaries were considered unordered in Python versions before 3.7, meaning they didn’t preserve the insertion order of key-value pairs. Starting from Python 3.7+, dictionaries preserve insertion order, but they are still often described as logically unordered because key-value pairs are accessed by key, not position.

     How it affects data retrieval:
     You retrieve values by key, not by index.

     The order of items should not be relied on for logic or output (especially in older versions).

     For consistent ordering, use OrderedDict (in older Python) or sort keys manually.

**Q20. Explain the difference between a list and a dictionary in terms of data retrieval.**

    -> The main difference between a list and a dictionary in terms of data retrieval lies in how elements are accessed:

     In a list, data is retrieved using a numeric index (position in the sequence).
        Example:
            my_list = ["apple", "banana", "cherry"]
            print(my_list[1])  # Output: banana

     In a dictionary, data is retrieved using a key (a unique identifier).
        Example:
           my_dict = {"fruit1": "apple", "fruit2": "banana"}
           print(my_dict["fruit2"])  # Output: banana

###                                 **PRACTICAL QUESTIONS**

**Q1. Write a code to create a string with your name and print it.**

In [1]:
name = "Sakshi Upadhyay"
print("My name is:", name)

My name is: Sakshi Upadhyay

**Q2. Write a code to find the length of the string "Hello World".**

In [3]:
str = "Hello World"
length = len(str)
print("Length of the string is:", length)

Length of the string is: 11

**Q3.  Write a code to slice the first 3 characters from the string "Python Programming".**

In [5]:
str = "Python Programming"
sliced = str[:3]
print("First 3 characters:", sliced)

First 3 characters: Pyt

**Q4. Write a code to convert the string "hello" to uppercase.**

In [6]:
str = "hello"
uppercase = str.upper()
print("Uppercase of the string is : ",uppercase)

Uppercase of the string is :  HELLO

**Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [7]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

**Q6. Write a code to create a list with numbers 1 to 5 and print it**

In [8]:
numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

**Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [9]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

**Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [10]:
numbers = [1,2,3,4,5]
numbers.remove(3)
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

**Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [11]:
my_list = ['a','b','c','d']
print("Second element in the list is : ", my_list[1])

Second element in the list is :  b

**Q10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [15]:
numbers = [10,20,30,40,50]
numbers.reverse()
print("Reverse list is : ", numbers)

Reverse list is :  [50, 40, 30, 20, 10]

**Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [17]:
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

**Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [18]:
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print("Second-to-last element:", second_last)

Second-to-last element: blue

**Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [19]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print("Minimum number:", min_number)

Minimum number: 5

**Q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [20]:
animals = ('dog', 'cat', 'rabbit')
index = animals.index('cat')
print("Index of 'cat':", index)

Index of 'cat': 1

**Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [21]:
fruits = ("apple", "banana", "mango")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

**Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [22]:
my_set = {'a', 'b', 'c'}
print("Set elements:", my_set)

Set elements: {'b', 'a', 'c'}

**Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [24]:
my_set = {1,2,3,4,5}
my_set.clear()
my_set

set()

**Q18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [25]:
my_sets = {1,2,3,4}
my_sets.remove(4)
print(my_sets)

{1, 2, 3}

**Q19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [26]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

**Q20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [27]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

**Q21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [28]:
my_dict = {"name" : "Sakshi","age" : 22 ,"city": "Kolkata"}
print(my_dict)

{'name': 'Sakshi', 'age': 22, 'city': 'Kolkata'}

**Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [29]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

**Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [30]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print("Name:", name_value)

Name: Alice

**Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [31]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

**Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [32]:
person =  {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

**Q26.  Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [33]:

my_list = [1, 2, 3, 4, 5]

my_tuple = ("apple", "banana", "cherry")

my_dict = {"name": "Alice", "age": 25, "city": "Paris"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris'}

Q27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced). **bold text**

In [34]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [9, 27, 42, 48, 61]

**Q28. Write a code to create a list with strings and print the element at the third index.**

In [35]:
words = ["apple", "banana", "cherry", "date", "fig"]
print("Element at third index:", words[3])

Element at third index: date

**Q29. Write a code to combine two dictionaries into one and print the result.**

In [36]:
dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "Paris", "country": "France"}

combined_dict = {**dict1, **dict2}

print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

**Q30. Write a code to convert a list of strings into a set.**

In [37]:
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print("Set:", string_set)

Set: {'cherry', 'banana', 'apple'}